<!DOCTYPE html>

<html>
	<head>
		<title>Blackjack Game</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div id="wrapper">
			<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<form method="post" id="bet">
				<div id="messagewrap">
					<span id="message">
						{{message}}<br />
						You have {{chipcount}} chips.<br />
						Enter your bet (Minimum 5, Maximum {{maximum}}): 
						<input type="number" name="quantity" min="5" max="{{maximum}}">
						<br />
  						<input type="submit" value="Place Bet" name="play">
  						<input type="submit" value="Quit" name="quit">
					</span>
				</div>
			</form>
		</div>
	</body>
</html>