<!DOCTYPE html>

<html>
	<head>
		<title>Blackjack Game</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div id="wrapper">
			<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<div class="hand">
				<div class="blackjack-card">
					{% for card in d_cards %}
						<img src="/images/{{card}}.png" />
					{% endfor %}
				</div>
			</div>
		
			<hr class="solid">
		
			<div class="hand">
				<div class="blackjack-card">
					{% for card in p_cards %}
						<img src="/images/{{card}}.png" />
					{% endfor %}
				</div>
			</div>
			<br />
			
			<form method="post">
				<div id="messagewrap">
					<span id="message">The dealer is showing an Ace.
						<br />Would you like to buy insurance for {{ins}} chips?
						<br />You currently have {{chips}} chips.
						<input type="submit" name="buy" value="Yes" />
						<input type="submit" name="nobuy" value="No" />
					</span>
				</div>
				<br>
			</form>
		</div>
	</body>
</html>