<!DOCTYPE html>

<html>
	<head>
		<title>Blackjack Game</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
		<body>
		<div id="wrapper">
			<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<div class="hand">
				<div class="blackjack-card">
					{% for card in d_cards %}
						<img src="/images/{{card}}.png" />
					{% endfor %}
				</div>
			</div>
		
			<hr class="solid"></hr>
		
			<div class="hand">
				<div class="blackjack-card">
					{% for card in p_cards %}
						<img src="/images/{{card}}.png" />
					{% endfor %}
				</div>
			</div>
			<br />
			
			<div id="messagewrap">
				<span id="message">
					<form method="post">
						{{message}}
						<br />
						{{chipcount}}
						<input type="submit" name="OK" value="OK" />
					</form>
				</span>
			</div>
		</div>
	</body>
</html>