<!DOCTYPE html>
<html>
	<head>
		<title>Casino Front</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div id="wrapper">
			<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<form method="post" id="front">
				<div id="messagewrap">
					<span id="message">
						Click the button to play blackjack!<br />
  						<input type="submit" value="New Game" />
					</span>
				</div>
			</form>
		</div>
	</body>

</html>