<!DOCTYPE html>
<html>
	<head>
		<title>Casino Front</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div id="wrapper">
			<div class="navigation"><a href=/login>Log In</a> | <a href=/signup>Sign Up</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<p id="front">
				<div id="messagewrap">
					<span id="message">
						Please sign up or log into your account in order to play!
					</span>
				</div>
			</p>
		</div>
	</body>
</html>