<!DOCTYPE html>

<html>
	<head>
		<title>Blackjack Game</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
		<br />
		<br />
		<br />
		<br />

		<form method="post">
			<div id="front">You don't have enough chips!
				<br />You have been given 500 more!
				<br />You now have {{chips}} chips remaining!
			<input type="submit" name="OK" value="OK" />
			</div>
			<br>
		</form>
	</body>
</html>