<!DOCTYPE html>

<html>
	<head>
		<title>Blackjack Game</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />
	</head>
	
	<body>
		<div id="wrapper">
			<div class="navigation">You are signed in as {{username}}. | <a href=/logout>Logout</a></div>
			<br />
			<br />
			<br />
			<div id="bufferspace"></div>
			<form method="post" id="bet">
				<div id="messagewrap">
					<span id="message">You lost your insurance wager of {{ins}}.
						<br />You have {{chips}} chips remaining.
						<input type="submit" name="buy" value="OK" />
					</span>
				</div>
			</form>
		</div>
	</body>
</html>